.foodInput {
  width: 370px;
  padding: 5px;
  border: none;
  outline: 0;
  font-size: 20px;
  font-weight: 500;
}
.button {
  height: 39px;
  width: 52px;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 200, 27);
}

.inputContainer {
  width: 100%;
  border: 1px solid rgb(219, 212, 212);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 5px 0px 2px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
